*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 44, 51);        
}
#main{
    /* border: 1px solid #5cacdd; */
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    box-shadow: rgb(253, 62, 4) 0px 0px 30px 5px;

}
#main #t1{
    width: 100%;
}
#main #t1 h1{
    width: 100%;
    text-align: center;
    font-size: 35px;
    background-color: #193e55;
    color: white;
    border-radius: 13px 13px 0px 0px;

}
#main #t1 textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    max-height: 200px;
    border: none;
    font-size: 20px;
    padding: 5px;
    transition: all 1s;
    background-color: rgb(95, 83, 107);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#main #t1 textarea:focus{
    outline: none;
    background-color: rgb(10, 85, 85);
    color: white;
}
#main #t2{
    width: 100%;
    background-color: #193e55;
    color: white;
    text-align: center;
    font-size: 25px;
    position: relative;
    top: -4px;
    border-radius: 0px 0px 13px 13px ;

}
#main #t2 h2{
    /* border: 1px solid red; */
    display: inline-block;
    /* width: fit-content; */
}
#main #t2 span{
    font-size: 40px;
    font-weight: 600;
}
#word,#chars{
    font-weight: 900;
    color:brown;
}